footer {
  background-color: lightblue;
  font-family: Arial, sans-serif;
  color: darkblue;
  padding: 10px;
  border: 1px dashed darkblue;
}

#notice {
  width: 80%;
  margin: 0 auto;
}

.headline {
  color: #2a7f62;
  border-bottom: 3px dotted #2a7f62;
}

h1 {
  font-family: sans-serif;
  font-size: 4em;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.35);
  background-color: rgba(173, 216, 230, 0.5);
  padding: 10px;
}

#section {
  font-family: Arial, sans-serif;
  font-size: small;
  color: red;
  background-color: white;
  width: 80%;
  padding: 14px;
  box-shadow: 0 6px 14px rgba(0,0,0,0.25);
}
